@model List<MovieForm>

<div>
    <h2>Movie Collection</h2>   
    
    <a asp-action="MovieForm"><div class="btn btn-outline-dark">Add Movie</div></a>
    <br/>
    <br/>
    
    <table class="table table-bordered">
        <thead class="fw-bold">
        <td>Category</td>
        <td>Title</td>
        <td>Year</td>
        <td>Director</td>
        <td>Rating</td>
        <td>Edited</td>
        <td>Lent To</td>
        <td>CopiedToPlex</td>
        <td>Notes</td>
        </thead>

        @foreach (var movie in Model)
        {
            <tbody>
            <tr>
                <td>@movie.Category.CategoryName</td>
                <td>@movie.Title</td>
                <td>@movie.Year</td>
                <td>@movie.Director</td>
                <td>@movie.Rating</td>
                <td>@(movie.Edited == 0 ? "No" : "Yes")</td>
                <td>@movie.LentTo</td>
                <td>@(movie.CopiedToPlex == 0 ? "No" : "Yes")</td>
                <td>@movie.Notes</td>

                <td><a class="btn btn-info" asp-controller="Home" asp-action="EditMovie" asp-route-id="@movie.MovieId">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Home" asp-action="DeleteMovie" asp-route-id="@movie.MovieId">Delete</a></td>
            </tr>
            </tbody>
        }

    </table>
</div>